<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Campanhas
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card
    *ngFor="let campaign of campaigns"
    [style.border-left]="'8px solid ' + campaign.color">

    <ion-card-header>

      <h2>
        {{ campaign.title }}
      </h2>

    </ion-card-header>

    <ion-card-content>

      <p>
        {{ campaign.description }}
      </p>

      <p>
        Início:
        {{ campaign.startDate }}
      </p>

      <p>
        Fim:
        {{ campaign.endDate }}
      </p>

    </ion-card-content>

  </ion-card>

</ion-content>