<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Minhas Crianças
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card
    *ngFor="let child of children">

    <ion-card-header>

      <h2>{{ child.name }}</h2>

    </ion-card-header>

    <ion-card-content>

      <p>
        Responsável:
        {{ child.guardianName }}
      </p>

      <p>
        Nascimento:
        {{ child.birthDate }}
      </p>

      <ion-button
        expand="block"
        (click)="openChild(child.id)">

        Ver Carteira Vacinal

      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>