:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #473C33;

  --ion-toolbar-background: #ffffff;
  --ion-item-background: #ffffff;

  --ion-card-background: #ffffff;
}